@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html,
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    margin: 12px 12px 12px 12px;
    background-color: rgb(232, 232, 232);
}

h1 {
    text-align: center;
    font-size: 312%;
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}

.basic-container {
    padding: 30px;
}

.version-info {
    font-size: 8pt;
    float: right;
}

:focus {
    outline: 0 !important;
}
